body{
    background-color: rgb(227, 231, 235);
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
margin: auto;
}
.container{
    background-color: white;
    
    border-radius: 5px;
     

}